body{
  background-color: beige;
}

.fakeHeader {
  margin: 50px;
  height: 100px;
  width: 100%;
}

header{
  display: flex;
  border: solid 1px black;
  background-color: antiquewhite; 
  width: 100%;
  align-items: center;
  justify-content: space-around;
}


.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.navBar ul li {
  margin: 10px;
  font-size: 20px;  
  
}

.inicio, .productos{
  text-decoration: none;
  color: black;
}

.navBar ul li a:hover{
  text-decoration: underline;
}

.carrito {
  color: green;
}
.carrito:hover {
  color: red;
}

.product {  
  border: solid 2px black;
  padding: 25px;
  background-color: antiquewhite;
  margin: 15px;
}

.imgProduct {
  width: 250px;
  height: 200px;
  border: solid 2px black;
  padding: 5px;
  background-color: rgb(214, 214, 214);
}

.cardTitle, .cardDesc {
  text-align: center;
  margin-top: 5px;
}

.bodyCard {
  text-align: center;
  background-color: gray;
}

.cardContainer {
  position: fixed;
  padding: 150px;
  background-color: azure;
  top: 1rem;
  right: 1rem;
  border: solid 2px black;
}

.productDetail {
  visibility: hidden;
  
}

.productDetailvisible {

  background-color: azure;
  top: 1rem;
  right: 1rem;
  border: solid 2px black;

}




