body{
  background-color: beige;
}

.fakeHeader {
  margin: 50px;
  height: 50px;
  width: 100%;
}

header{
  border: solid 1px black;
  background-color: antiquewhite;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 50px;
  
}


.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.navBar ul li {
  margin: 10px;
  font-size: 20px;  
  
}

.inicio, .productos{
  text-decoration: none;
  color: black;
}

.navBar ul li a:hover{
  text-decoration: underline;
}

.carrito {
  color: green;
}
.carrito:hover {
  color: red;
}

